version: '2'
services:
    nginx:
      image: nginx:latest
      volumes:
      - ./docker/nginx/config/default.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/log/nginx:/var/log/nginx
      - ./docker/nginx/data/nginx:/home/http
      depends_on:
      - node
      - api
      ports:
          - "0.0.0.0:80:80"
    api:
      image: node:6
      working_dir: /usr/src/app/node_api_server
      volumes:
        - .:/usr/src/app
      depends_on:
        - mongo
        - node
      ports:
          - "0.0.0.0:8090:8080"
      command: "npm start"
    node:
      build: .
      volumes:
        - .:/usr/src/app
      depends_on:
        - mongo
      ports:
          - "0.0.0.0:3000:3000"
      entrypoint: [ "/usr/src/app/scripts/platform.sh" ]
    mongo:
      image: mongo
      hostname: mongo
      container_name: mongo
      ports:
          - "0.0.0.0:27017:27017"
      volumes:
        - ./docker/data/db:/data/db
        - ./dump:/home/dump


