SENDGRIDUSER=<sendgriduser>
SENDGRIDPASS=<sendgridpassword>
SENDGRIDAPIKEY=<sendgridapikey>
x-api-key=<x-api-key>
URLPLATFORM=https://<DOMAIN>
MONGOUSER=<user>
MONGOPASSWD=<password>
MONGOHOST=<mongohost>


