SENDGRIDUSER=apikey
SENDGRIDPASS=<apikey>
x-api-key=<apikeyetalab>
URLPLATFORM=https://<DOMAIN>
DOMAIN=<yourdomain>
APPPATH=<pathtoapp>
MONGOUSER=<user>
MONGOPASSWD=<password>
MONGOHOST=<mongohost>


