deb http://archive.debian.org/debian/ {{ ansible_distribution_release }} main
deb-src http://archive.debian.org/debian/ {{ ansible_distribution_release }} main

deb http://security.debian.org/ {{ ansible_distribution_release }}/updates main
deb-src http://security.debian.org/ {{ ansible_distribution_release }}/updates main

deb http://archive.debian.org/debian {{ ansible_distribution_release }}-backports main
deb-src http://archive.debian.org/debian {{ ansible_distribution_release }}-backports main

deb http://repo.mongodb.org/apt/debian {{ ansible_distribution_release }}/mongodb-org/{{ mongo_version }} main
