extends layout

block content
  h1= title
  
  div(class="container confirmation")
    div(class="row")
      div(class="col-md-offset-1 col-md-7") Nous avons été informés de votre requête et reviendrons vers vous dans les 24h.
      div(class="col-md-offset-1 col-md-7") Vous pouvez nous contacter à #[a(href='mailto:consultation@etalab.gouv.fr') consultation@etalab.gouv.fr].
