doctype html
html(lang='fr')
  head
    title= title
    meta(name='viewport',content='width=device-width', initial-scale=1, maximum-scale=1, user-scalable='no')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700')
    link(rel='stylesheet', href='/modules/semantic-ui-css/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
        div(class="ui container box-shadow")
          div(class='ui grid')
            div(class='two column row middle aligned')
                div(class='left floated column')
                  div(class='ui horizontal list')
                    div(class='item')
                      a(href='https://consultation.etalab.gouv.fr', title='Accueil', class="ui image") 
                          img(src='/images/marianne.svg',alt='',width="96",height="60") 
                      div(class='content')
                        div(class='header site-name')
                          b consultation.etalab.gouv.
                          i fr
                        | Fabriquez votre consultation en ligne
                div(class='right floated column')
                  div(class='ui horizontal list divided')
                    div(class='item right-menu') Préparation
                    div(class='item right-menu')
                      b Outils
                    div(class='item right-menu') Accompagnement
                    div(class='item right-menu') Support
          
    main
      block content
