---
- hosts: all
  remote_user: root

  vars_prompt:
    - name: "mongosupass"
      prompt: "Set your mongodb superAdmin password"
      private: yes

    - name: "mongogppass"
      prompt: "Set the mongodb password for the app's user "
      private: yes

    - name: "sendgriduser"
      prompt: "Enter your sendgrid username"
      private: no

    - name: "sendgridpass"
      prompt: "Enter your sendgrid password"
      private: yes

    - name: "sendgridapikey"
      prompt: "Enter your sendgrid API key"
      private: yes

    - name: "xapikey"
      prompt: "Enter your x-api-key"
      private: yes

    - name: "monitpass"
      prompt: "Set the password for the monitoring interface access, the username will be the app's user"
      private: yes

  handlers:
    - name: restart mongod
      action: service name=mongod state=restarted

    - name: restart nginx
      action: service name=nginx state=restarted

    - name: Stop monit service
      service: name=monit state=stopped

    - name: restart monit 
      action: service name=monit state=restarted
    
    - name: restart ssh
      action: service name=ssh state=restarted

  tasks:
  # - name: utf8 locale
  #   action: command sudo update-locale LC_ALL=C.UTF-8

  - name: set default locale
    lineinfile: dest=/etc/environment
      regexp="LC_ALL"
      line="LC_ALL=\"C.UTF-8\""

  - name: Create '{{ user }}' users in instance
    user: name={{ user }} shell=/bin/bash createhome=yes comment='main user'

  - name: Add '{{ user }}' to sudoers
    template: src=templates/sudoers-user.j2 dest=/etc/sudoers validate='visudo -cf %s'

  - name: Add master public key to '{{ user }}' in instance
    authorized_key: user={{ user }} key="{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

  - name: Ignore expiration on jessie sources
    copy: src=file/apt-no-expiration.conf dest=/etc/apt/apt.conf.d/no-expiration.conf

  - name: Add repo in apt sources
    template: src=templates/sources_list.j2 dest=/etc/apt/sources.list

  - name: Add apt key for mongodb repo
    command: apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv EA312927

  - name: Update apt cache
    apt: update_cache=yes

  - name: Install required packages
    apt:
      state: present
      name:
        - git
        - curl
        - mongodb-org
        - nginx
        - python-pip
        - fail2ban
        - monit
        - ntpdate

  - name: Install certbot & python-certbot-nginx
    apt:
      state: present
      default_release: jessie-backports
      name:
        - certbot
        - python-certbot-nginx

  - name: update date and hour
    command: ntpdate fr.pool.ntp.org

  - name: Install NodeJS and NPM
    command: "{{ item }}"
    with_items:
        - sudo -u {{ user }} bash -lc "curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -"
        - sudo -u {{ user }} bash -lc "sudo apt install -y nodejs"
        - sudo -u {{ user }} bash -lc "sudo apt install -y build-essential"

  - name: Install pm2
    npm: name=pm2 global=yes

  - name: Install pm2 logrotate
    command: pm2 install logrotate

  - name: Install pymongo module
    pip: name=pymongo

  - name: Configure mongodb DB superuser
    mongodb_user: database=admin name={{ mongosu }} password={{ mongosupass }} state=present roles='root'
    no_log: true
    notify: restart mongod


  - name: Configure mongodb DB {{ user }} user
    mongodb_user: login_user={{ mongosu }} login_password={{ mongosupass }} database=db_deploy name={{ user }} password={{ mongogppass }} state=present roles='readWrite'
    no_log: true
    notify: restart mongod

  - name: Set mongodb PID file
    file: src=/var/lib/mongodb/mongod.lock dest=/var/run/mongod.pid state=link

  - name: Clone consultation-app from repository
    git: accept_hostkey=yes repo=https://github.com/consultation-gouv/deploiement.consultation.git dest=/home/{{ user }}/consultation-app force=yes

  - name: Clone consultation-website from repository
    git: accept_hostkey=yes repo=https://github.com/consultation-gouv/consultation.gouv.fr.git dest=/home/{{ user }}/consultation-website force=yes refspec={{ env }}

  - name: Get SSL certificates
    command: "certbot certonly --authenticator webroot --webroot-path /var/www/html --domain {{ item }} --email {{ adminemail }} --agree-tos -n"
    with_items:
      - "{{ domainname }}"
      - "api.{{ domainname }}"
      - "deploiement.{{ domainname }}"

  - name: Get SSL certificate for production monitoring
    command: "certbot certonly --authenticator webroot --webroot-path /var/www/html --domain {{ item }} --email {{ adminemail }} --agree-tos -n"
    with_items:
      - "monitoring.{{ domainname }}"
    when: env == "production"

  # - name: Add images to consultation-app
  #   copy: src=~/consultation-app_ansible-playbook-v2/images dest=/home/{{ user }}/consultation-app/public/ owner={{ user }} group={{ user }} mode="u=rw,g=r,o=r"
  #   no_log: true

  - name: define nginx sites
    template:
      src: "templates/nginx-sites/{{ item.0 }}.j2"
      dest: "/etc/nginx/sites-available/{{ item.0 }}.{{ item.1 }}"
    loop: "{{ nginx_sites | product([domainname,] + extra_domains) | list }}"
    notify: restart nginx
    tags:
      - nginx

  - name: enable nginx sites
    file:
      src: "/etc/nginx/sites-available/{{ item }}"
      dest: "/etc/nginx/sites-enabled/{{ item }}"
      state: link
    loop: "{{ nginx_sites | product([domainname,] + extra_domains) | map('join', '.') | list }}"
    notify: restart nginx
    tags:
      - nginx

  - name: create .env file
    template: src=templates/env_file dest=/home/{{ user }}/consultation-app/.env
    no_log: true

  - name: create .env file for api server
    template: src=templates/env_file dest=/home/{{ user }}/consultation-app/node_api_server/.env

  - name: Change owner of consultation-app
    file: path={{ item }} owner={{ user }} group={{ user }} mode=u=rwX,g=rX,o=rX recurse=yes state=directory
    with_items:
      - /home/{{ user }}/consultation-app
      - /home/{{ user }}/consultation-app/node_modules

  - name: copy reference database dump to instance
    copy: src=file/{{ mongodump_archive }} dest=/home/{{ user }}/ owner={{ user }} group={{ user }} mode="u=rw,g=r,o=r"

  - name: fill in database from the dump
    command: "/usr/bin/mongorestore --gzip --archive={{ mongodump_archive }} chdir=/home/{{ user }}/"

  - name: Install required node packages and launch platform
    command: "{{ item }} chdir=/home/{{ user }}/consultation-app"
    with_items:
      # - npm install -g ogp-consultation-verification
      - npm install
      - sudo -u {{ user }} bash -lc "cd /home/{{ user }}/consultation-app/node_api_server && npm install"
      - sudo -u {{ user }} bash -lc "cd /home/{{ user }}/consultation-app && pm2 start ecosystem.json"
      - sudo -u {{ user }} bash -lc "pm2 stop 0"
      - sudo -u {{ user }} bash -lc "pm2 start 0"

  - name: check if rvm 2.3.1 is installed
    shell: "rvm list | grep {{ ruby_version }} && grep /usr/local/rvm/scripts/rvm ~/.bashrc"
    register: rvm_ok
    ignore_errors: true
    changed_when: false
    failed_when: false
    check_mode: no # so the next step can pass in check mode

  - name: Install Ruby with RVM
    script: file/install-rvm.sh {{ ruby_version }}
    when: rvm_ok.rc != 0

  - name: Install Jekyll, deps and generate website
    command: "{{ item }} chdir=/home/{{ user }}/consultation-website"
    with_items:
      - gem install bundle
      - bundle install
      - bundle exec jekyll build

  - name: Change owner of consultation-website
    file: path={{ item }} owner={{ user }} group={{ user }} mode=u=rwX,g=rX,o=rX recurse=yes
    with_items:
      - /home/{{ user }}/consultation-website

  - name: create email-report.sh
    template: src=templates/email-report.sh dest=/home/{{ user }}/consultation-app/email-report.sh mode=755

  - name: install email-report cron
    when: env == "production"
    cron:
      name: "Daily email report"
      special_time: daily
      job: /home/{{ user }}/consultation-app/email-report.sh

  - name: Set configuration for monitoring
    template: src=templates/monitconf dest=/etc/monit/monitrc
    notify: restart monit
    no_log: true

  - name: disable ssh root access without password
    lineinfile: dest=/etc/ssh/sshd_config regexp="^PermitRootLogin" line="PermitRootLogin without-password" state=present
    notify: restart ssh
